body {
    background: #fff;
    color: #444;
    font: 14px 'Helvetica Neue', helvetica, arial, sans-serif;
}

.table {
    margin: 20px auto;
    width: 800px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

#inputAndButton {
    text-align: center;
}

.alert {
    margin: auto;
    width: 800px;
}

#logo {
    display: block;
    padding: 15px 15px 0px 15px;
    margin: auto;
}

#logo_desc {
    font-weight: bolder;
    text-align: center;
    padding: 6px 0 9px 0;
}

.form-inline {
    padding: 4px;
}

.btn {
    margin-left: 2px;
    margin-right: 2px;
}